
<!--Unikt for denne siden-->
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

<div class="floor2"></div>
<div class="floor"></div>


<a class="surrender" href="/map/{{ session['username'] }}">
    Surrender
</a>

<div class="playerHealthBar">
    <p class="ontop" id="playerHealthCounter">HP: 0/0</p>
    <div id="playerHealthBarColor">
    </div>
</div>
<div class="playerHeatBar">
    <p class="ontop" id="playerHeatCounter">Heat: 0/0</p>
    <div id="playerHeatBarColor">
    </div>
</div>
<div class="playerEnergyBar">
    <p class="ontop" id="playerEnergyCounter">Energy: 0/0</p>
    <div id="playerEnergyBarColor">
    </div>
</div>


<div class="playerImageContainer">
    <img draggable="false" id="playerTorsoImage" src="" alt="" width="125%">
    <img draggable="false" id="playerWeaponImage" src="" alt="" width="125%">
    <img draggable="false" id="playerWeaponImage2" src="" alt="" width="125%">
    <img draggable="false" id="playerLegsImage" src="" alt="" width="125%">
    <img draggable="false" id="playerLegsImage2" src="" alt="" width="125%">
</div>


<div class="enemyHealthBar">
    <p class="ontop" id="enemyHealthCounter">0/0</p>
    <div id="enemyHealthBarColor">
    </div>
</div>
<div class="enemyHeatBar">
    <p class="ontop" id="enemyHeatCounter">Heat: 0/0</p>
    <div id="enemyHeatBarColor">
    </div>
</div>
<div class="enemyEnergyBar">
    <p class="ontop" id="enemyEnergyCounter">Energy: 0/0</p>
    <div id="enemyEnergyBarColor">
    </div>
</div>

<div class="enemyImageContainer">
    <img draggable="false" id="enemyTorsoImage" src="" alt="" width="125%">
    <img draggable="false" id="enemyWeaponImage" src="" alt="" width="125%">
    <img draggable="false" id="enemyLegsImage" src="" alt="" width="125%">
    <img draggable="false" id="enemyLegsImage2" src="" alt="" width="125%">
</div>

<div class="turnIndicator">
    <div id="turn1"></div>
    <div id="turn2"></div> 
</div>

<div class="playerControls">
    <button id="attack1"><img id="attack1Image" src="" alt="" width="100%"></button>
    <button id="attack2"><img id="attack2Image" src="" alt="" width="100%"></button>
    <button id="cooldown">Cool down</button>
    <button id="stomp">Stomp</button>
</div>

<!-- <button id="tutorialToggle">?</button> -->

<div id="tutorial">
    <img src="{{ url_for('static', filename='images/tutorialMechWars.png') }}" alt="">
    <button id="closeTutorial">Close tutorial</button>
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock%}

