
<!--Unikt for denne siden-->
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

<div class="floor2"></div>
<div class="floor"></div>

<button class="surrender">
    <a href="map">
        Surrender
    </a>
</button>

<div class="playerHealthBar">
    <div class="playerHealthBarColor">
        <p id="playerHealthCounter">0/0</p>
    </div>
</div>

<div class="playerContainer">
    <p id="playerTorso">a</p>
    <p id="playerWeapon">a</p>
    <p id="playerLegs">a</p>
</div>



<div class="enemyHealthBar">
    <div class="enemyHealthBarColor">
        <p class="enemyHealthCounter">0/0</p>
    </div>
</div>


<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock%}

