
<!--Unikt for denne siden-->
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

<div class="floor2"></div>
<div class="floor"></div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

<button class="surrender">
    <a href="map">
        Surrender
    </a>
</button>

<div class="playerHealthBar">
    <div class="playerHealthBarColor">
        <p class="playerHealthCounter">0/0</p>
    </div>
</div>

<div class="playerContainer">
    <p class="torso"></p>
    <p class="legs"></p>
    <p class="weapons"></p>
</div>



<div class="enemyHealthBar">
    <div class="enemyHealthBarColor">
        <p class="enemyHealthCounter">0/0</p>
    </div>
</div>

{% endblock%}

