<!--Unikt for denne siden-->
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

<div class="background"></div>

<div class="title">
    <h1>Mech Wars</h1>
</div>

<div class="main_menu">
    <a href="map">
        <button>
            Play
        </button>
    </a>

    <a href="">
        <button>
            Login
        </button>
    </a>
    
    <a href="">
        <button>
            Register
        </button>
    </a>
</div>



{% endblock%}

