<!--Unikt for denne siden-->
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

<div class="background"></div>

<div class="title">
    <h1>Mech Wars</h1>
</div>

<div class="main_menu">
    <form class="login_register" method="POST">
        <input type="text" name="username" id="username" placeholder="Username" maxlength="255">
        <input type="password" name="password" id="password" placeholder="password" maxlength="255">
        <button type="submit">Login</button>
        <a href="/">Go back</a>
    </form>
</div>



{% endblock%}

