/* General ---------------------------------------------------------------------------------------------------------------*/
body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.background{
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #adadad;
    opacity: 0.8;
    background-image:  radial-gradient(#7c7c7c 1px, transparent 0.5px), radial-gradient(#7c7c7c 1px, #adadad 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    z-index: -1;
    top: 0;
}

.title{
    width: 96%;
    height: 100px;
    color: #000;
    font-size: 30px;
    font-family: 'Arial';
    margin: 2%;
    justify-content: center;
    align-items: center;
    display: flex;
}



/* Index.html --------------------------------------------------------------------------------------------------------------- */
.main_menu{
    height: 550px;
    width: 400px;
    background-color: #adadadb4;
    color: white;
    padding: 10px;
    justify-self: center;
    border-radius: 15px;
    border: #7c7c7c 2px solid;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.main_menu button{
    width: 300px;
    height: 75px;
    background-color: #3b7dbb;
    border: #2f6496 7px solid;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.main_menu button:hover{
    background-color: #499deb;
    border: #3d83c5 7px solid;
}



/* base.html --------------------------------------------------------------------------------------------------------------- */
.header{
    width: 100%;
    height: 1%;
    background-color: #adadad;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    gap: 50px;
    padding-left: 75px;
    align-items: center;

}

.sideMenu{
    width: 5%;
    height: 100%;
    background-color: #adadad;
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 50px;
}
.sideMenu a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.header p{
    background-color: #7c7c7c;
    padding: 5px;
    border-radius: 5px;
}



/* map.html --------------------------------------------------------------------------------------------------------------- */
.test {
    margin-left: 5%; /* Remove margin */
}


/* battle.html --------------------------------------------------------------------------------------------------------------- */
.floor{
    width: 100%;
    height: 20%;
    background-color: burlywood;
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.surrender{
    display: flex;
    justify-self: center;
}

.playerHealthBar{
    width: 40%;
    height: 50px;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #adadad;
    border: #7c7c7c 5px solid;
}
.playerHealthBarColor{
    width: 100%;
    height: 30px;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ffee00;
    border-top: #c2b5009e 10px solid;
    border-bottom: #c2b5009e 10px solid;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(to right, #c2b5009e, #c2b5009e 1px, #ffee00 1px, #ffee00);
}

.enemyHealthBar{
    width: 40%;
    height: 50px;
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #adadad;
    border: #7c7c7c 5px solid;
}
.enemyHealthBarColor{
    width: 100%;
    height: 30px;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    border-top: #c2b5009e 10px solid;
    border-bottom: #c2b5009e 10px solid;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    opacity: 0.8;
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(to right, #c2b5009e, #c2b5009e 1px, #ffee00 1px, #ffee00);
}

.playerContainer{
    display: flex;
    position: absolute;
    bottom: 0;
    margin-bottom: 15%;
    margin-left: 20%;
    color: white;
    flex-direction: column;
}