/* General ---------------------------------------------------------------------------------------------------------------*/
body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.ontop{
    z-index: 2;
}
.background{
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #adadad;
    opacity: 0.8;
    background-image:  radial-gradient(#7c7c7c 1px, transparent 0.5px), radial-gradient(#7c7c7c 1px, #adadad 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    z-index: -1;
    top: 0;
}

.title{
    width: 96%;
    height: 100px;
    color: #000;
    font-size: 30px;
    font-family: 'Arial';
    margin: 2%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #adadadb4;
    border: #7c7c7c 2px solid;
    border-radius: 15px;
}



/* Index.html --------------------------------------------------------------------------------------------------------------- */
.main_menu{
    height: 550px;
    width: 400px;
    background-color: #adadadb4;
    color: white;
    padding: 10px;
    position: absolute;
    margin-left: 35.5%;
    border-radius: 15px;
    border: #7c7c7c 2px solid;


    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.main_menu a{
    width: 300px;
    height: 75px;
    background-color: #73A5D3;
    border: #3b7dbb 7px solid;
    border-radius: 15px;
    color: #000;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.main_menu button{
    width: 300px;
    height: 75px;
    background-color: #73A5D3;
    border: #3b7dbb 7px solid;
    border-radius: 15px;
    color: #000;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.main_menu a:hover{
    background-color: #499deb;
    border: #3d83c5 7px solid;
}



/* base.html --------------------------------------------------------------------------------------------------------------- */
.header{
    width: 100%;
    height: 1%;
    background-color: #adadad;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    gap: 50px;
    padding-left: 75px;
    align-items: center;

}

.sideMenu{
    width: 5%;
    height: 100%;
    background-color: #adadad;
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 50px;
}
.sideMenu a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.header p{
    background-color: #7c7c7c;
    padding: 5px;
    border-radius: 5px;
}

/* Login and register.html --------------------------------------------------------------------------------------------------------------- */
.login_register{
    height: 550px;
    width: 400px;
    color: white;
    padding: 10px;
    justify-self: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.login_register input{
    width: 300px;
    height: 75px;
    font-size: 25px;
    border-radius: 15px;
    padding: 10px;
    border: solid 3px #000;
}


/* map.html --------------------------------------------------------------------------------------------------------------- */
.test {
    margin-left: 5%; /* Remove margin */
}


/* battle.html --------------------------------------------------------------------------------------------------------------- */
.floor{
    width: 100%;
    height: 20%;
    background-color: burlywood;
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.surrender{
    margin-top: 10px;
    color: #fff;
    display: flex;
    justify-self: center;
    font-size: 25px;
    text-decoration: none;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.playerHealthBar{
    width: 40%;
    height: 50px;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #adadad;
    border: #7c7c7c 5px solid;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
}
#playerHealthBarColor{
    width: 100%;
    height: 30px;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ffee00;
    border-top: #c2b5009e 10px solid;
    border-bottom: #c2b5009e 10px solid;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(to right, #c2b5009e, #c2b5009e 1px, #ffee00 1px, #ffee00);
    transition: 1s;
}
.playerHeatBar{
    width: 20%;
    height: 35px;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 55px;
    background-color: #adadad;
    border: #7c7c7c 5px solid;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
}
#playerHeatBarColor{
    width: 100%;
    height: 15px;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ff0000;
    border-top: #8200009e 10px solid;
    border-bottom: #8200009e 10px solid;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(to right, #8200009e, #8200009e 1px, #ff0000 1px, #ff0000);
    transition: 1s;
}
.playerEnergyBar{
    width: 20%;
    height: 35px;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 55px;
    background-color: #adadad;
    border: #7c7c7c 5px solid;
    margin-left: 20%;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
}
#playerEnergyBarColor{
    width: 100%;
    height: 15px;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #6363fb;
    border-top: #3a3aa29e 10px solid;
    border-bottom: #3a3aa29e 10px solid;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(to right, #3a3aa29e, #3a3aa29e 1px, #6363fb 1px, #6363fb);
    transition: 1s;
}

.enemyHeatBar{
    width: 20%;
    height: 35px;
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 20%;
    margin-top: 55px;
    background-color: #adadad;
    border: #7c7c7c 5px solid;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
}
#enemyHeatBarColor{
    width: 100%;
    height: 15px;
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #ff0000;
    border-top: #8200009e 10px solid;
    border-bottom: #8200009e 10px solid;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(to right, #8200009e, #8200009e 1px, #ff0000 1px, #ff0000);
    transition: 1s;
}
.enemyEnergyBar{
    width: 20%;
    height: 35px;
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 55px;
    background-color: #adadad;
    border: #7c7c7c 5px solid;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
}
#enemyEnergyBarColor{
    width: 100%;
    height: 15px;
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #6363fb;
    border-top: #3a3aa29e 10px solid;
    border-bottom: #3a3aa29e 10px solid;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(to right, #3a3aa29e, #3a3aa29e 1px, #6363fb 1px, #6363fb);
    transition: 1s;
}
.enemyHealthBar{
    width: 40%;
    height: 50px;
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #adadad;
    border: #7c7c7c 5px solid;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
}
#enemyHealthBarColor{
    width: 100%;
    height: 30px;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    border-top: #c2b5009e 10px solid;
    border-bottom: #c2b5009e 10px solid;
    opacity: 0.8;
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(to right, #c2b5009e, #c2b5009e 1px, #ffee00 1px, #ffee00);
    transition: 1s;
}
.playerImageContainer{
    display: flex;
    position: absolute;
    bottom: 0;
    margin-bottom: 10%;
    margin-left: 27%;
    color: white;
    flex-direction: column;
}
#playerTorsoImage{
    position: absolute;
    margin-top: -60px;
    margin-bottom: 0%;
    margin-left: 5%;
}
#playerWeaponImage{
    position: absolute;
    top: -50px;
    left: 20px;
    z-index: 2;
}
#playerWeaponImage2{
    position: absolute;
    top: -50px;
    left: 40px;
    z-index: -2;
}
#playerLegsImage{
    position: absolute;
    left: 20px;
}
#playerLegsImage2{
    z-index: 1;
}
.enemyImageContainer{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 10%;
    margin-right: 32%;
    color: white;
    flex-direction: column;
}
#enemyTorsoImage{
    position: absolute;
    margin-top: -60px;
    margin-bottom: 0%;
    margin-right: 5%;
    transform: scaleX(-1);
}
#enemyWeaponImage{
    position: absolute;
    top: -50px;
    right: 0;
    z-index: 2;
    transform: scaleX(-1);
}
#enemyLegsImage{
    position: absolute;
    z-index: 1;
    left: 20px;
    transform: scaleX(-1);
    right: 10px;
}
#enemyLegsImage2{
    transform: scaleX(-1);
    right: 10px;
}

#playerAttack{
    position: absolute;
    z-index: 5;
}

.playerControls{
    width: 100%;
    height: 100px;
    background-color: #2b2b2b;
    z-index: 1;
    position: absolute;
    bottom: 0;
    display: block;
    display: flex;
    gap: 10px;
}

.playerControls button{
    height: 100px;
    width: 100px;
    border: solid #3fc43f 5px;
    border-radius: 15px;
    color: white;
    background: none;
    font-size: 25px;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerControls button:hover{
    transform: scale(1.1);
    font-size: 30px;
}
.playerControls button img:hover{
    transform: scale(1.5);
    transition: 0.3s;
}

.turnIndicator{
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 25px;
    margin-top: 100px;
    margin-left: 25px;
    display: flex;
    gap: 10px;
}

#turn1{
    /* background-color: #3fc43f; */
    /* background-color: #538353; */
    height: 20px;
    width: 20px;
    border: solid #263c26 7.5px;
    border-radius: 999px;
    transition: 0.3s;
}
#turn2{
    /* background-color: #3fc43f; */
    /* background-color: #538353; */
    height: 20px;
    width: 20px;
    border: solid #263c26 7.5px;
    border-radius: 999px;
    transition: 0.3s;
}

#tutorialToggle{
    position: absolute;
    z-index: 1;
    width: 25px;
    height: 25px;
    right: 55%;
    top: 0;
    font-size: 20px;
}

#tutorial{
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
}

#tutorial img{
    width: 100%;
}

#closeTutorial{
    position: absolute;
    z-index: 11;
    width: 200px;
    height: 100px;
    left: 42%;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}